<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PanelLogin.png</key>
			<dict>
				<key>width</key>
				<integer>533</integer>
				<key>height</key>
				<integer>432</integer>
				<key>originalWidth</key>
				<integer>533</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BtnRandomGame.png</key>
			<dict>
				<key>width</key>
				<integer>427</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>427</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>535</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BtnRandomGamePress.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>434</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BtnFriendGame.png</key>
			<dict>
				<key>width</key>
				<integer>427</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>427</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>434</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BtnFriendGamePress.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>584</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ImgTipForNewb.png</key>
			<dict>
				<key>width</key>
				<integer>327</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>327</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>584</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ImgTipPasswordErr.png</key>
			<dict>
				<key>width</key>
				<integer>625</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>625</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>734</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ImgTipRoomNotExsit.png</key>
			<dict>
				<key>width</key>
				<integer>399</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>399</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>852</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ImgTipNicknameRepeat.png</key>
			<dict>
				<key>width</key>
				<integer>369</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>369</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>401</integer>
				<key>y</key>
				<integer>852</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ImgTipNicknameNull.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>344</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>926</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>PanelSetNickName.png</key>
			<dict>
				<key>width</key>
				<integer>526</integer>
				<key>height</key>
				<integer>323</integer>
				<key>originalWidth</key>
				<integer>526</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>346</integer>
				<key>y</key>
				<integer>926</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>EditNickName.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1251</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>PropertyBack.png</key>
			<dict>
				<key>width</key>
				<integer>533</integer>
				<key>height</key>
				<integer>432</integer>
				<key>originalWidth</key>
				<integer>533</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>234</integer>
				<key>y</key>
				<integer>1251</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>PropertyComputer.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>769</integer>
				<key>y</key>
				<integer>1251</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>PropertyBoy.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1685</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>PropertyGirl.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>145</integer>
				<key>y</key>
				<integer>1685</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BoyHeadNotSel.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>1685</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BoyHeadIsSel.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>1685</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>GirlHeadNotSel.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>624</integer>
				<key>y</key>
				<integer>1685</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>GirlHeadIsSel.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>780</integer>
				<key>y</key>
				<integer>1685</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ButtonIsClose.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>194</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1863</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ButtonIsOpen.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>194</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>1863</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BtnSettingGray.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>392</integer>
				<key>y</key>
				<integer>1863</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BtnHowGray.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>471</integer>
				<key>y</key>
				<integer>1863</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BtnSingleStart.png</key>
			<dict>
				<key>width</key>
				<integer>252</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>252</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>550</integer>
				<key>y</key>
				<integer>1863</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MatchRequestPeace.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1976</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>RequestFail.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>1976</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>GameUi4.png</string>
			<key>realTextureFileName</key>
			<string>GameUi4.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>